html, body {
    background: linear-gradient(to right, #b4eab9, #feb47b);
    color: black;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

.section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    text-align: center;
    margin-top: 2rem;
}

.subtitle a {
    color: #007BFF;
    text-decoration: none;
}

.columns {
    margin-top: 2rem;
}

/* Container gris del prompt (ubicación más sencilla en este código) */
.box {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(221, 221, 221);
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
    width: 800px;
}

.prompt-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 14px;

}

/* Donde aparecen las ciphersuites listadas (ubicación sencilla) */
.prompt { 
    width: 600px;
    height: 300px;
    resize: none;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
}

.copy-btn {
    background-color: #b4eab9;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
}

.copy-btn:hover {
    background-color: #0056b3;
}

.subtitle {
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.check-logo{
    height: 15px;
    width: 15px;
    vertical-align: middle;
}
